
/*play-fair
semi-bold 600 italic*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');


/*cinzel semibold 600*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

/*roboto */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&display=swap');

/*SURANNA*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&family=Suranna&display=swap');

/*MARKAZI*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Markazi+Text:wght@500&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&family=Suranna&display=swap');


h1 {
    font-family: 'Suranna', serif;
    font-size: 3.5vh;
    text-decoration: underline;
}

h2{
    font-size: 2.1vh;
}

h4{
    font-size: 1.6vh;
}

h2,h3,h4,h5,h6 {
    font-family:'Roboto', sans-serif;
    font-weight: 600;
}