*{
    padding: 0;
    margin: 0;
    display: grid;
    color:white;
    
}

body{
    background-color: rgb(0, 0, 0);
    grid-template-columns: 2fr;
    grid-template-rows: .01fr 1fr .1fr;
    grid-template-areas: 
    "head"
    "main"
    "foot";

    .sombra{
        height:17vh;
        width: 47vh;
        position:fixed;
        top:0;
        left:0;    
        background-color: rgba(0, 0, 0, 0.74);
        border-radius: 0 0 3% 0;
        z-index: 200;
    }

    .sombra2{
        height:12vh;
        width: 52vh;
        position:fixed;
        top:0vh;
        left:45vh;    
        background-color: rgba(0, 0, 0, 0.74);
        border-radius: 0 0 3% 0;
        z-index: 200;
    }
    
}

header{
    grid-area: head;
  
    .navbar2{
        margin-top: 2vh;
        



        
    }

    .barra-datos{
        display: flex;
        position: absolute;
        top:0;
        left:0;
        justify-items: center;

        .whatsapp{
            height: 1.5vh;
            width: auto;
            margin: .6vh auto auto .8vh;
        }

        .whatsappN{
            font-size: 1.4vh;
            margin:.15vh .5vh .5vh .2vh;
        }
        .mail{
            height:1.6vh;
            width: auto;
            margin:.48vh .15vh .5vh 1vh;
        }

        .mailN{
            font-size: 1.4vh;
            margin:.15vh .5vh .5vh .5vh;
        }
    }

    nav{
        z-index: 5000;
    }
    .navbar{
    padding-top: 0;
    padding-bottom: 0;
    }
}
.container-fluid{
    z-index: 5000;
}

main{
    padding-top: 23vh;
    grid-area: main;

    
        .botonRed{
            width: 25vh;
            height:8vh;
            position:fixed;
            bottom:1.5vh;
            right:1.5vh;
            z-index: 1000;  
        }

        .offcanvas{
            opacity: 90%;
            .offcanvas-header{
                background-color: rgb(0, 0, 0);
                opacity:80%;
                
            }
            .offcanvas-body{
                background-color: rgb(0, 0, 0);
                .firma{
                    position:relative;
                    bottom:30vh;

                }
            }
        }
    
}

.mainIndex{
    padding-top:.13vh;
}


footer{
    grid-area: foot;
    padding-bottom: 8vh;
    
    .datos{
        display: inline-block;
        text-align: center;

        h3{
            padding:1vh;
            margin-bottom: 1vh;
            text-decoration: underline;
        }
    }

    .redesSociales{
        p{
            font-size: 2vh;
            text-decoration: underline;
            margin:0 auto;
        }
        ul{
            display: inline-flex;
            justify-content: space-evenly;
            
            li{
                padding:1vh;
                margin:1vh;
                a{
                    img{
                        height:5vh;
                        width:5vh;
                    }
                }
            }
        }
    }
    
}


title{
    display: none;
}




