
.mainIndex{

     img{
        position:sticky;
        height: 60vh;
        width: auto;
        margin:auto;
        align-self: center;
        justify-self: center;
        overflow:auto;
         
    }
}