/*MOBILE*/

@media (max-width:700px){

    body{
        .sombra{
            width:100%;
        }
        .sombra2{
            display: none;
        }
    }

    header{
        position:fixed;
        top:0;
        z-index: 500;
        margin: 0;

    }

    .navbar-toggler{
        position:fixed;
        top:0;
        right:0;
        margin-right:3vh;
        margin-top:5vh;
        background-color: rgb(0, 0, 0);
        border: 1vh solid black;
        border-radius: 3%;
        
    }

    #navbar-estudio{
        z-index: 1300;
        background-color: rgba(0, 0, 0, 0.74);
    }

    main{
        padding-top:20vh;
    }
    .mainIndex{

        section{
            
            .contenedor_palacio{

                display:flex;
                justify-content: center;

                .palacio2{
                    height: auto;
                    width: 100%;
                    overflow-block:0;
                    justify-content: center;
                    padding-top:20vh;
                }

                .palacio1{
                    display: none;
                }

            }

       
            .items{
                display: block;
                flex-direction: column;
                justify-content: center;
                height: auto;
                width: auto;
                margin:auto;
                .cuadrado1,.cuadrado2{
                    justify-content:space-around;
                    height: 25vh;
                    background:green;
                    width: auto;
                    padding:3vh;
                    margin:0 auto 5vh auto;
                    background-color:rgba(0, 0, 0, 0.74);
                    border-radius: 12%;
                    z-index: 100;
                    position: relative;
                    bottom:5vh;
                    border-bottom: .5vh solid rgba(255, 255, 255, 0.514);
                    flex-wrap: wrap;
       
                    p{
                        align-self: center;
                        text-align: justify;
                    }
                            
                }
    
            }   
    
       
        }
    
    } 

    .mainLinks__div{
        iframe{
            width:45vh;
            height:30vh;
        }
    }

    .eduardo{
        box-shadow: 0 0 0 0;
    }

    .mainServicios{

        padding-top: 20vh;
        margin-bottom: 25vh;;

        .mainServicios__h2,.mainServicios__h5{
            padding-bottom: 25vh;
        }

        .cajas_fuero{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            padding-top:90vh;
            padding-bottom: 75vh;

            .laboral{
                justify-items: center;
                padding-top:40vh;

                 
                .listaLaboral{
                    background-color: rgba(70, 70, 70, 0.432);
                    justify-content: space-evenly;
                    width: 45vh;
                    flex-wrap: wrap;
                    visibility: visible;
                    display: flex;
                    position:relative;         
                    right:2vh;    
                }
                .botonLaboral{
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 45vh;
                    margin:2vh 5vh 0 2vh;
                    box-shadow: none;
                    
                }
           }
                .civil{
                    justify-items: center;
                    
                    .listaCivil{
                        background-color: rgba(70, 70, 70, 0.432);
                        justify-content: space-evenly;
                    width: 45vh;
                        flex-wrap: wrap;
                        visibility: visible;
                        display: flex;
                        position:relative;         
                        right:2vh;    
                    
                    }
                    .botonCivil{
                        background-color: rgba(0, 0, 0, 0.623);
                        width: 45vh;
                        margin:2vh 5vh 0 2vh;
                        box-shadow: none;
                        
                    }
               }
                .penal{
                    justify-items: center;
                    
                    .listaPenal{
                        background-color: rgba(70, 70, 70, 0.432);
                        justify-content: space-evenly;
                        width: 45vh;
                        flex-wrap: wrap;
                        visibility: visible;
                        display: flex;
                        position:relative;         
                        right:2vh;    
                    
                    }
                    .botonPenal{
                        background-color: rgba(0, 0, 0, 0.623);
                        width: 45vh;
                        margin:2vh 5vh 0 2vh;
                        box-shadow: none;
                        
                    }
                }
                .admin{
                    justify-items: center;

                    
                    .listaAdmin{
                        background-color: rgba(70, 70, 70, 0.432);
                        justify-content: space-evenly;
                        width: 45vh;
                        flex-wrap: wrap;
                        visibility: visible;
                        display: flex;
                        position:relative;         
                        right:2vh; 
                    
                    }
                    .botonAdmin{
                        background-color: rgba(0, 0, 0, 0.623);
                        width: 45vh;
                        margin:2vh 5vh 0 2vh;
                        box-shadow: none;
                        
                    }
                }
        }   
    }



    footer{
        p{
            font-size: 3vh;
            padding:3vh 0;
        }
    }
    #offcanvasExample{
        z-index: 6000;
    }


    .botonRedOff{
        display:none;
    }

}

@media (min-width:701px) and (max-width:990px){
    body{
        .sombra{
            width:100%;
        }
        .sombra2{
            display: none;
        }
    }
    
    header{
        position:fixed;
        top:0;
        z-index: 500;
        margin: 0;
    }

    .navbar-toggler{
        position:fixed;
        top:0;
        right:0;
        margin-right:4vh;
        margin-top:5vh;
        background-color: rgb(0, 0, 0);
        border: 1vh solid black;
        border-radius: 3%;
        
    }

    #navbar-estudio{
        z-index: 1300;
        background-color: rgba(0, 0, 0, 0.74);
    }

    main{
        padding-top:20vh;
    }
    .mainIndex{
        padding-top:20vh;
        section{
            
            .contenedor_palacio{

                display:flex;
                justify-content: center;

                .palacio2{
                    height: auto;
                    width: 100%;
                    overflow-block:0;
                    justify-content: center;
                }

                .palacio1{
                    display: none;
                }

            }

       
            .items{
                display: block;
                flex-direction: column;
                justify-content: center;
                height: auto;
                width: auto;
                margin:auto;
                .cuadrado1,.cuadrado2{
                    justify-content:space-around;
                    height: 25vh;
                    width: auto;
                    padding:3vh;
                    margin:0 auto 3vh auto;
                    background-color:rgba(0, 0, 0, 0.74);
                    border-radius: 12%;
                    z-index: 100;
                    position: relative;
                    bottom:5vh;
                    border-bottom: .5vh solid rgba(255, 255, 255, 0.514);
                    flex-wrap: wrap;
       
                    p{
                        align-self: center;
                        text-align: justify;
                    }
                            
                }
    
            }   
    
       
        }
    
    } 

    .mainLinks__div{
        iframe{
            width:60vh;
            height:35vh;
        }
    }

    .mainServicios{
        .cajas_fuero{
            display: flex;
            flex-direction: column;
            padding:20vh 0 0 0;
            margin:45vh 0 55vh 0;
            justify-items: center;
            .laboral{
                justify-items: center;
                 
                .listaLaboral{
                    background-color: rgba(70, 70, 70, 0.432);
                    justify-content: space-evenly;
                    width: auto;
                    flex-wrap: wrap;
                    visibility: visible;
                    display: flex;
                
                }
                .botonLaboral{
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 50vh;
                    margin:5vh 5vh 0 5vh;
                    box-shadow: none;
                    
                }
           }
                .civil{
                    justify-items: center;
                    
                    .listaCivil{
                        background-color: rgba(70, 70, 70, 0.432);
                        justify-content: space-evenly;
                        width: auto;
                        flex-wrap: wrap;
                        visibility: visible;
                        display: flex;
                    
                    }
                    .botonCivil{
                        background-color: rgba(0, 0, 0, 0.623);
                        width: 50vh;
                        margin:5vh 5vh 0 5vh;
                        box-shadow: none;
                        
                    }
            }
                .penal{
                    justify-items: center;
                    
                    .listaPenal{
                        background-color: rgba(70, 70, 70, 0.432);
                        justify-content: space-evenly;
                        width: auto;
                        flex-wrap: wrap;
                        visibility: visible;
                        display: flex;
                    
                    }
                    .botonPenal{
                        background-color: rgba(0, 0, 0, 0.623);
                        width: 50vh;
                        margin:5vh 5vh 0 5vh;
                        box-shadow: none;
                        
                    }
                }
                .admin{
                    justify-items: center;
                    
                    .listaAdmin{
                        background-color: rgba(70, 70, 70, 0.432);
                        justify-content: space-evenly;
                        width: auto;
                        flex-wrap: wrap;
                        visibility: visible;
                        display: flex;
                    
                    }
                    .botonAdmin{
                        background-color: rgba(0, 0, 0, 0.623);
                        width: 50vh;
                        margin:5vh 5vh 0 5vh;
                        box-shadow: none;
                        
                    }
                }
        }  
    }
    .equipo{
        margin: 0 8vh;
    }

    .eduardotex{
        margin: 0 10vh;
    }


    .gastontex{
        margin: 0 10vh;
    }
    
    footer{
        p{
            font-size: 3vh;
            padding:3vh 0;
        }
    }
    #offcanvasExample{
        z-index: 6000;
    }

    .botonRedOff{
        display:none;
    }

}

@media (min-width:991px) and (max-width:1420px){

    header{
        position:fixed;
        top:0;
        z-index: 5000;
        margin: 0;
    }

    .navbar-toggler{
        position:fixed;
        top:0;
        right:0;
        margin-right:10vh;
        margin-top:5vh;
        background-color: black;
        border: 1vh solid black;
        border-radius: 3%;
    }

    .equipo{
        margin: 0 15vh;
    }

    .eduardotex{
        margin: 0 30vh;
    }


    .gastontex{
        margin: 0 30vh;
    }

    .mainIndex{

        section{
            
            .contenedor_palacio{

                display:flex;
                flex-direction: column;
                justify-content: center;
                justify-content: center;

                .palacio2{
                    height: auto;
                    width: 100%;
                    overflow-block:0;
                    justify-content: center;
                }

                .palacio1{
                    display: none;
                }

            }

    
            .items{
                display: inline-flex;
                justify-content: space-evenly;
                height: auto;
                width: auto;
                .cuadrado1,.cuadrado2{
                    justify-content:space-around;
                    height: 32vh;
                    width: 54vh;
                    padding:3vh 4vh;
                    margin:auto;
                    background-color:rgba(0, 0, 0, 0.74);
                    border-radius: 12%;
                    z-index: 100;
                    position: relative;
                    bottom:5vh;
                    border-bottom: .3vh solid rgba(255, 255, 255, 0.514);
                    box-shadow: 18px 5px 12px #7c7c7ca9;
                    flex-wrap: wrap;
    
                    p{
                        align-self: center;
                        text-align: justify;
                        font-family:'Roboto Serif', sans-serif;
                        font-size: 2.8vh;  
                    }
                            
                }

            }   

    
        }

    } 


    .navbar-nav li{
        margin: 0 .6vh;
        padding:0 .6vh;
    
        &:first-child{
            margin-left:.5vh;
        }
    
        &:last-child{
            white-space: nowrap;


        }
    
        
    }

    .mainServicios{
        .cajas_fuero{
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            padding-bottom:60vh;       

            .laboral{
                justify-items: center;
                 
                .listaLaboral{
                text-align: center;
                display:block;
                background-color: rgba(0, 0, 0, 0.623);
                width: 23vh;
                position:absolute;
                top: 61.15vh;
                border-radius: 0 0 10% 10%;
                box-shadow: 7px 10px 12px #888888;
                height:0vh;
                transition: height 1.5s;
                
                
                    li{
                        color:rgb(255, 255, 255);
                        padding: 1vh .5vh;
                        padding-right:2rem;
                        margin: .5vh;
                        visibility:hidden;
                        
                    }
    
                }
        
                .botonLaboral{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    padding: 1vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
                    
                    &:hover + .listaLaboral {
                        height:41vh;                  
                    }
    
                    &:hover + .listaLaboral li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
    
    
                }
        
            }
        
            .civil{
                justify-items: center;
                
                .listaCivil{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 23vh;
                    position:absolute;
                    top: 61.15vh;
                    border-radius: 0 0 10% 10%;
                    box-shadow: 7px 10px 12px #888888;
                    height:0vh;
                    transition: height 1.5s;
                    
                    
                        li{
                            color:rgb(255, 255, 255);
                            padding: 1vh .5vh;
                            padding-right:2rem;
                            margin: .5vh;
                            visibility:hidden;
                            
                            
                            &:first-child:hover  .botonCivil {
                                color:rgb(255, 255, 255);
                                visibility:visible;
                            }
                        }
                
                }
                .botonCivil{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    padding: 1vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
    
                    &:hover + .listaCivil {
                        height:41vh;                  
                    }
    
                    &:hover + .listaCivil li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
                }
        
            }
        
            .penal{
                justify-items: center;
                
                .listaPenal{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 23vh;
                    position:absolute;
                    top: 61.15vh;
                    border-radius: 0 0 10% 10%;
                    box-shadow: 7px 10px 12px #888888;
                    height:0vh;
                    transition: height 1.5s;
                    
                    
                        li{
                            color:rgb(255, 255, 255);
                            padding: 1vh .5vh;
                            padding-right:2rem;
                            margin: .5vh;
                            visibility:hidden;
                            
                        }
        
                    }
        
                .botonPenal{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    padding: 1vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
                    &:hover + .listaPenal {
                        height:41vh;                  
                    }
    
                    &:hover + .listaPenal li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
                }
        
            }
        
            .admin{
                justify-items: center;
                
                .listaAdmin{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 23vh;
                    position:absolute;
                    top: 61.15vh;
                    border-radius: 0 0 10% 10%;
                    box-shadow: 7px 10px 12px #888888;
                    height:0vh;
                    transition: height 1.5s;
                    
                    
                        li{
                            color:rgb(255, 255, 255);
                            padding: 1vh .5vh;
                            padding-right:2rem;
                            margin: .5vh;
                            visibility:hidden;
                            
                        }
                }
        
                .botonAdmin{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
                    &:hover + .listaAdmin {
                        height:41vh;                  
                    }
    
                    &:hover + .listaAdmin li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
                }
        
            }
        }
    }
    

    footer{
        p{
            font-size: 3vh;
            padding:3vh 0;
        }
    }
    #offcanvasExample{
        z-index: 6000;
    }

}


/* ESCRITORIO */

@media (min-width:1421px) and (max-width:5000px){

    header{
        position:fixed;
        top:0;
        z-index: 200;
        margin: 0 auto 0 auto;

    }

    .mainIndex{

        section{
            
            .contenedor_palacio{

                display:flex;
                justify-content: center;
                justify-content: center;

                .palacio1{
                    height: auto;
                    width: 100%;
                    overflow-block:0;
                    justify-content: center;
                }

                .palacio2{
                    display: none;
                }

            }

       
            .items{
                display: inline-flex;
                justify-content: space-evenly;
                height: 11vh;
                width: auto;
                background-color: black;
                .cuadrado1, .cuadrado2{
                    justify-content:space-around;
                    height: 27vh;
                    width: 71vh;
                    padding:3vh 5vh;
                    margin:auto;
                    background-color:rgba(0, 0, 0, 0.651);
                    border-radius: 11%;
                    z-index: 100;
                    position: relative;
                    bottom:20vh;
                    border-bottom: .3vh solid rgba(255, 255, 255, 0.514);
                    box-shadow: 18px 5px 12px #7c7c7ca9;
                    flex-wrap: wrap;
                    
                    p{
                        align-self: center;
                        text-align: justify;
                        font-family:'Roboto Serif', sans-serif;
                        font-size: 3vh;  
                    }
                            
                }
            }   
    
       
        }
        
    
    } 

    .mainServicios{
        .cajas_fuero{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom:17vh;
            
            
            
            .laboral{
                justify-items: center;
                 
                .listaLaboral{
                text-align: center;
                background-color: rgba(0, 0, 0, 0.623);
                width: 23vh;
                position:absolute;
                top: 61.15vh;
                border-radius: 0 0 10% 10%;
                box-shadow: 7px 10px 12px #888888;
                height:0vh;
                transition: height 1.5s;
                
                
                    li{
                        color:rgb(255, 255, 255);
                        padding: 1vh .5vh;
                        padding-right:2rem;
                        margin: .5vh;
                        visibility:hidden;
                        
                    }
    
                }
        
                .botonLaboral{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    padding: 1vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
                    
                    &:hover + .listaLaboral {
                        height:43vh;                  
                    }
    
                    &:hover + .listaLaboral li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
    
    
                }
        
            }
        
            .civil{
                justify-items: center;
                
                .listaCivil{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 23vh;
                    position:absolute;
                    top: 61.15vh;
                    border-radius: 0 0 10% 10%;
                    box-shadow: 7px 10px 12px #888888;
                    height:0vh;
                    transition: height 1.5s;
                    
                    
                        li{
                            color:rgb(255, 255, 255);
                            padding: 1vh .5vh;
                            padding-right:2rem;
                            margin: .5vh;
                            visibility:hidden;
                            
                            
                        }
                
                }
                .botonCivil{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    padding: 1vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
    
                    &:hover + .listaCivil {
                        height:43vh;             
                    }
    
                    &:hover + .listaCivil li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
                }
        
            }
        
            .penal{
                justify-items: center;
                
                .listaPenal{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 23vh;
                    position:absolute;
                    top: 61.15vh;
                    border-radius: 0 0 10% 10%;
                    box-shadow: 7px 10px 12px #888888;
                    height:0vh;
                    transition: height 1.5s;
                    
                    
                        li{
                            color:rgb(255, 255, 255);
                            padding: 1vh .5vh;
                            padding-right:2rem;
                            margin: .5vh;
                            visibility:hidden;
                            
                        }
        
                    }
        
                .botonPenal{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    padding: 1vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    position: absolute;
                    align-content: center;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
                    &:hover + .listaPenal {
                        height:43vh;              
                    }
    
                    &:hover + .listaPenal li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
                }
        
            }
        
            .admin{
                justify-items: center;
                
                .listaAdmin{
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.623);
                    width: 23vh;
                    position:absolute;
                    top: 61.15vh;
                    border-radius: 0 0 10% 10%;
                    box-shadow: 7px 10px 12px #888888;
                    height:0vh;
                    transition: height 1.5s;
                    
                    
                        li{
                            color:rgb(255, 255, 255);
                            padding: 1vh .5vh;
                            padding-right:2rem;
                            margin: .5vh;
                            visibility:hidden;
                            
                        }
                }
        
                .botonAdmin{
                    background-color: rgba(0, 0, 0, 0.562);
                    height:10vh;
                    width: 25vh;
                    margin:5vh 5vh 0 5vh;
                    text-align: center;
                    align-content: center;
                    position: absolute;
                    border-radius: .8vh;
                    border: .2vh solid rgb(153, 153, 153);
                    box-shadow: 15px 0px 12px #888888;
                    &:hover + .listaAdmin {
                        height:43vh;                  
                    }
    
                    &:hover + .listaAdmin li{
                        animation-name: menu; 
                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                    }
                }
        
            }
        }
    }

    .mainNosotros{
       
        .mainNosotros__section{
    
            display:grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: .3fr .1fr 1fr .5fr;
            grid-template-areas: "titulo titulo titulo"
            "titulo1 texto titulo2"
            "foto1 texto foto2"
            "texto1 texto texto2";
            overflow:visible;
            text-align: justify;
            justify-items: center;
    
            h2{
                grid-area: titulo;
                text-align: center;
                text-decoration: underline;
                padding-top:12vh;
            }
    
            .eduardo{
                grid-area:foto1;
            }
            .equipo{
                grid-area: texto;
                padding: 5vh 5vh;
                font-size: 2.5vh;
            }
    
            .gaston{
                grid-area:foto2;

            }
    
            .eduardotex{
                grid-area:texto1;
                padding:0 13.6vh;
            }
    
            .gastontex{
                grid-area:texto2;
                padding:0 15vh;
            }
        }
    
    }

    .navbar-nav li{
        margin: 0 2.3vh;
        padding:0 2.3vh;
    
        &:first-child{
            margin-left:8vh;
        }
    
        &:last-child{
            white-space:nowrap;
        }
    
        
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "redes datos datos datos";
       
        
        .datos{
            grid-area: datos;

        }

        .redesSociales{
            grid-area: redes;
            display:inline-flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2vh;

            ul{
                li{
                    a{
                        img{
                            transition: height 2s, width 1.5s;
                            &:hover {
                                height: 8vh;
                                width:auto;

                            }
                        }
                    }
                }
            }
        } 
        


    }


}

