@media (max-width:1000px){
    
    .navbar-toogler{
        position:absolute;
        margin-right:50vh;
    }
    .navbar2{
        margin-right:0;
        div{
            ul{
                text-align: center;
            }
        }
    }
    
}




