/*INDEX*/



/*SERVICIOS*/
.mainServicios{
    background-color: rgba(0, 0, 0, 0.685);
    background-image:url(../imagenes/wallServicios.png);
    background-size:auto;
    background-blend-mode: multiply;

    .mainServicios__section{
        text-align: center;
        text-justify: auto;
        h2{
            padding: 2vh;
            margin-bottom: 5vh;
            margin-top:10vh;
            text-decoration:underline ;
        }
        h5{
            margin:0 8vh;
            text-align: justify;
            font-family: 'Roboto Serif', sans-serif;;
        }
    }

    .cajas_fuero{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        
        
        .laboral{
            justify-items: center;
             
            .listaLaboral{
            visibility: hidden;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.623);
            width: 23vh;
            border-radius: 0 0 10% 10%;
            box-shadow: 7px 10px 12px #888888;
                li{
                    color:rgb(255, 255, 255);
                    padding: 1vh .5vh;
                    padding-right:2rem;
                    margin: .5vh;
                                   
                }
            }
    
            .botonLaboral{
                background-color: rgba(0, 0, 0, 0.562);
                height:10vh;
                width: 25vh;
                padding: 1vh;
                margin:5vh 5vh 0 5vh;
                text-align: center;
                align-content: center;
                border-radius: .8vh;
                border: .2vh solid rgb(153, 153, 153);
                box-shadow: 15px 0px 12px #888888;
                
                &:hover + .listaLaboral {
                    visibility: visible;                  
                }
            }
    
        }
    
        .civil{
            justify-items: center;
            
            .listaCivil{
                visibility: hidden;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.623);
                width: 23vh;
                border-radius: 0 0 10% 10%;
                box-shadow: 7px 10px 12px #888888;
                li{
                    color:rgb(255, 255, 255);
                    padding: 1vh .5vh;
                    padding-right:2rem;
                    margin: .5vh;
                                   
                }
            }
    
            .botonCivil{
                background-color: rgba(0, 0, 0, 0.562);
                height:10vh;
                width: 25vh;
                padding: 1vh;
                margin:5vh 5vh 0 5vh;
                text-align: center;
                align-content: center;
                border-radius: .8vh;
                border: .2vh solid rgb(153, 153, 153);
                box-shadow: 15px 0px 12px #888888;
                &:hover + .listaCivil {
                    visibility: visible; 
                }
            }
    
        }
    
        .penal{
            justify-items: center;
            
            .listaPenal{
                visibility: hidden;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.623);
                width: 23vh;
                border-radius: 0 0 10% 10%;
                box-shadow: 7px 10px 12px #888888;
                li{
                    color:rgb(255, 255, 255);
                    padding: 1vh .5vh;
                    padding-right:2rem;
                    margin: .5vh;
                                   
                }
            }
    
            .botonPenal{
                background-color: rgba(0, 0, 0, 0.562);
                height:10vh;
                width: 25vh;
                padding: 1vh;
                margin:5vh 5vh 0 5vh;
                text-align: center;
                align-content: center;
                border-radius: .8vh;
                border: .2vh solid rgb(153, 153, 153);
                box-shadow: 15px 0px 12px #888888;
                &:hover + .listaPenal {
                    visibility: visible;
                }
            }
    
        }
    
        .admin{
            justify-items: center;
            
            .listaAdmin{
            visibility: hidden;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.623);
            width: 23vh;
            border-radius: 0 0 10% 10%;
            box-shadow: 7px 10px 12px #888888;
            li{
                color:rgb(255, 255, 255);
                padding: 1vh .5vh;
                padding-right:2rem;
                margin: .5vh;
                               
            }
            }
    
            .botonAdmin{
                background-color: rgba(0, 0, 0, 0.562);
                height:10vh;
                width: 25vh;
                margin:5vh 5vh 0 5vh;
                text-align: center;
                align-content: center;
                border-radius: .8vh;
                border: .2vh solid rgb(153, 153, 153);
                box-shadow: 15px 0px 12px #888888;
                &:hover + .listaAdmin {
                visibility: visible;
                }
            }
    
        }
    }
}



/*NOSOTROS*/
.mainNosotros{
    background-color: rgba(0, 0, 0, 0.685);
    background-image:url(../imagenes/martillo.jpg);
    background-size: cover;
    background-blend-mode: multiply;

    .mainNosotros__section{

        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,.1fr .1fr .1fr .1fr);
        grid-template-areas: "titulo"
        "texto"
        "titulo1" 
        "foto1"
        "texto1" 
        "titulo2"
        "foto2"
        "texto2" 
        ;
        overflow:visible;
        text-align: justify;
        justify-items: center;


        h2{
            grid-area: titulo;
            text-align: center;
            text-decoration: underline;
            padding-top:14vh;
        }            
        
        .equipo{
            grid-area: texto;
            padding: 7vh 8vh;
            font-size: 2.5vh;
        }

        .eduardo{
            @extend .fotos;
            grid-area:foto1;
            box-shadow: -.7vh .7vh 12px gray;

        }


        .eduardotex{
            grid-area:texto1;
            padding:0 12vh 10vh 12vh;
            font-size: 2vh;
        }

        .gaston{
            @extend .fotos;
            grid-area:foto2;
            box-shadow: .7vh .7vh 12px gray;
        }   
        .gastontex{
            grid-area:texto2;
            padding:0 12vh 10vh 12vh;
            font-size: 2vh;
        }
    }

}




/*CONTACTENOS*/

.mainContacto{
    background-color: rgba(0, 0, 0, 0.534);
    background-image: url(../imagenes/martilloycodigo.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    padding-right:4vh;
    padding-left:3vh;
    padding-top:25vh;
    h2{
        text-decoration: underline;
        padding: 1vh 0;
        text-align: center;
    }
}
.form-black{
    color:black;
}

/*LINKS*/

.mainLinks{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
    background-image:url(../imagenes/wallLinks.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    padding-top:17vh;
    
    section{
        padding:2vh;
        margin:2vh;
        
        h2{
            text-decoration: underline;
            padding: 2vh 0;
        }
        
        ul{
            padding-bottom: 2vh;
            li{
                padding-bottom: 2vh;
                a{
                    color:blanchedalmond;
                    text-decoration: none;
                    font-size: 2.5vh;
                    transition:color .5s, underline.1s;
                    &:hover{
                        color:rgb(88, 194, 255);
                        text-decoration: underline;
                    }
                }

            }
        }

    }

    .mainLinks__div{
        iframe{
            margin:0 auto;
        }
    }
}