/*play-fair
semi-bold 600 italic*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
/*cinzel semibold 600*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
/*roboto */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&display=swap");
/*SURANNA*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&family=Suranna&display=swap");
/*MARKAZI*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Markazi+Text:wght@500&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&family=Suranna&display=swap");
/*cookie*/
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
/*raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
/*font-family: 'Cinzel', serif;
font-family: 'Markazi Text', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Suranna', serif;
font-family: 'Cookie', cursive;*/
header h1 {
  font-family: 'Suranna', serif;
  font-size: 4.5vh;
}

header h2 {
  font-size: 2.6vh;
  font-family: 'Cinzel', serif;
}

header h4 {
  font-size: 3.3vh;
  font-family: 'Cookie', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.cajas_fuero div ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
}

#naviBar {
  font-size: 1.8vh;
  font-weight: bold;
}

.fuero {
  font-family: 'Cinzel', serif;
  font-size: 2vh;
}

/*INDEX*/
/*SERVICIOS*/
.mainServicios {
  background-color: rgba(0, 0, 0, 0.685);
  background-image: url(../imagenes/wallServicios.jpg);
  background-size: auto;
  background-blend-mode: multiply;
}

.mainServicios .mainServicios__section {
  text-align: center;
  text-justify: auto;
}

.mainServicios .mainServicios__section h2 {
  padding: 2vh;
  margin-bottom: 5vh;
  margin-top: 10vh;
  text-decoration: underline;
}

.mainServicios .mainServicios__section h5 {
  margin: 0 8vh;
  text-align: center;
}

.mainServicios .cajas_fuero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainServicios .cajas_fuero .laboral {
  justify-items: center;
}

.mainServicios .cajas_fuero .laboral .listaLaboral {
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
  width: 23vh;
  border-radius: 0 0 10% 10%;
}

.mainServicios .cajas_fuero .laboral .listaLaboral li {
  color: white;
  padding: 1vh .5vh;
  padding-right: 2rem;
  margin: .5vh;
}

.mainServicios .cajas_fuero .laboral .botonLaboral {
  background-color: rgba(103, 245, 255, 0.514);
  height: 10vh;
  width: 25vh;
  padding: 1vh;
  margin: 5vh 5vh 0 5vh;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: .8vh;
  border: .2vh solid black;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.mainServicios .cajas_fuero .laboral .botonLaboral:hover + .listaLaboral {
  visibility: visible;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mainServicios .cajas_fuero .civil {
  justify-items: center;
}

.mainServicios .cajas_fuero .civil .listaCivil {
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
  width: 23vh;
  border-radius: 0 0 10% 10%;
}

.mainServicios .cajas_fuero .civil .listaCivil li {
  color: white;
  padding: 1vh .5vh;
  padding-right: 2rem;
  margin: .5vh;
}

.mainServicios .cajas_fuero .civil .botonCivil {
  background-color: rgba(103, 245, 255, 0.514);
  height: 10vh;
  width: 25vh;
  padding: 1vh;
  margin: 5vh 5vh 0 5vh;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: .8vh;
  border: .01vh solid black;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.mainServicios .cajas_fuero .civil .botonCivil:hover + .listaCivil {
  visibility: visible;
}

.mainServicios .cajas_fuero .penal {
  justify-items: center;
}

.mainServicios .cajas_fuero .penal .listaPenal {
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
  width: 23vh;
  border-radius: 0 0 10% 10%;
}

.mainServicios .cajas_fuero .penal .listaPenal li {
  color: white;
  padding: 1vh .5vh;
  padding-right: 2rem;
  margin: .5vh;
}

.mainServicios .cajas_fuero .penal .botonPenal {
  background-color: rgba(103, 245, 255, 0.514);
  height: 10vh;
  width: 25vh;
  padding: 1vh;
  margin: 5vh 5vh 0 5vh;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: .8vh;
  border: .01vh solid black;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.mainServicios .cajas_fuero .penal .botonPenal:hover + .listaPenal {
  visibility: visible;
}

.mainServicios .cajas_fuero .admin {
  justify-items: center;
}

.mainServicios .cajas_fuero .admin .listaAdmin {
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
  width: 23vh;
  border-radius: 0 0 10% 10%;
}

.mainServicios .cajas_fuero .admin .listaAdmin li {
  color: white;
  padding: 1vh .5vh;
  padding-right: 2rem;
  margin: .5vh;
}

.mainServicios .cajas_fuero .admin .botonAdmin {
  background-color: rgba(103, 245, 255, 0.514);
  height: 10vh;
  width: 25vh;
  margin: 5vh 5vh 0 5vh;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: .8vh;
  border: .01vh solid black;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.mainServicios .cajas_fuero .admin .botonAdmin:hover + .listaAdmin {
  visibility: visible;
}

/*NOSOTROS*/
.mainNosotros {
  background-color: rgba(0, 0, 0, 0.685);
  background-image: url(../imagenes/martillo.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

.mainNosotros .mainNosotros__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (0.1fr 0.1fr 0.1fr 0.1fr)[2];
      grid-template-rows: repeat(2, 0.1fr 0.1fr 0.1fr 0.1fr);
      grid-template-areas: "titulo" "texto" "titulo1"  "foto1" "texto1"  "titulo2" "foto2" "texto2";
  overflow: visible;
  text-align: justify;
  justify-items: center;
}

.mainNosotros .mainNosotros__section h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  text-align: center;
  text-decoration: underline;
  padding-top: 12vh;
}

.mainNosotros .mainNosotros__section .equipo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: texto;
  padding: 7vh 8vh;
  font-size: 2.5vh;
}

.mainNosotros .mainNosotros__section .eduardo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: foto1;
  height: 40vh;
  width: auto;
  margin-bottom: 2vh;
  border: 1vh solid black;
}

.mainNosotros .mainNosotros__section .eduardotex {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: texto1;
  padding: 0 15vh 10vh 15vh;
}

.mainNosotros .mainNosotros__section .gaston {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: foto2;
  height: 40vh;
  width: auto;
  margin-bottom: 2vh;
  border: 1vh solid black;
}

.mainNosotros .mainNosotros__section .gastontex {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: texto2;
  padding: 0 15vh 5vh 15vh;
}

/*CONTACTENOS*/
.mainContacto {
  background-color: rgba(0, 0, 0, 0.534);
  background-image: url(../imagenes/martilloycodigo.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  padding-right: 4vh;
  padding-left: 3vh;
}

.mainContacto h2 {
  text-decoration: underline;
  padding: 2vh 0;
}

.form-black {
  color: black;
}

/*LINKS*/
.mainLinks {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.685);
  background-image: url(../imagenes/wallLinks.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

.mainLinks section {
  padding: 2vh;
  margin: 2vh;
}

.mainLinks section h2 {
  text-decoration: underline;
  padding: 2vh 0;
}

.mainLinks section ul {
  padding-bottom: 2vh;
}

.mainLinks section ul li {
  padding-bottom: 2vh;
}

.mainLinks section ul li a {
  color: blanchedalmond;
  text-decoration: none;
  font-size: 2.5vh;
  -webkit-transition: color 0.5s, underline 0.1s;
  transition: color 0.5s, underline 0.1s;
}

.mainLinks section ul li a:hover {
  color: #58c2ff;
  text-decoration: underline;
}

.mainLinks .mainLinks__div iframe {
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  color: white;
}

body {
  background-color: black;
  -ms-grid-columns: 2fr;
      grid-template-columns: 2fr;
  -ms-grid-rows: .01fr 1fr .1fr;
      grid-template-rows: .01fr 1fr .1fr;
      grid-template-areas: "head" "main" "foot";
}

body .sombra {
  height: 17vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 0 0 3% 0;
  z-index: 200;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

header .navbar2 {
  margin-top: 2vh;
}

header .barra-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-items: center;
}

header .barra-datos .whatsapp {
  height: 1.5vh;
  width: auto;
  margin: .6vh auto auto .8vh;
}

header .barra-datos .whatsappN {
  font-size: 1.4vh;
  margin: .15vh .5vh .5vh .2vh;
}

header .barra-datos .mail {
  height: 1.6vh;
  width: auto;
  margin: .48vh .15vh .5vh 1vh;
}

header .barra-datos .mailN {
  font-size: 1.4vh;
  margin: .15vh .5vh .5vh .5vh;
}

header nav {
  z-index: 5000;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.container-fluid {
  z-index: 5000;
}

main {
  padding-top: 10vh;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main .botonRed {
  width: 25vh;
  height: 8vh;
  position: fixed;
  bottom: 1.5vh;
  right: 1.5vh;
  z-index: 1000;
}

main .offcanvas {
  opacity: 90%;
}

main .offcanvas .offcanvas-header {
  background-color: black;
  opacity: 80%;
}

main .offcanvas .offcanvas-body {
  background-color: black;
}

main .offcanvas .offcanvas-body .firma {
  position: relative;
  bottom: 30vh;
}

.mainIndex {
  padding-top: .13vh;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foot;
  padding-bottom: 8vh;
}

footer .datos {
  display: inline-block;
  text-align: center;
}

footer .datos h3 {
  padding: 1vh;
  margin-bottom: 1vh;
  text-decoration: underline;
}

footer .redesSociales p {
  font-size: 2vh;
  text-decoration: underline;
  margin: 0 auto;
}

footer .redesSociales ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .redesSociales ul li {
  padding: 1vh;
  margin: 1vh;
}

footer .redesSociales ul li a img {
  height: 5vh;
  width: 5vh;
}

title {
  display: none;
}

/*MOBILE*/
@media (max-width: 500px) {
  body .sombra {
    width: 100%;
  }
  body .sombra2 {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 500;
    margin: 0;
  }
  .navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3vh;
    margin-top: 5vh;
    background-color: black;
    border: 1vh solid black;
    border-radius: 3%;
  }
  main {
    padding-top: 20vh;
  }
  .mainIndex section .contenedor_palacio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio2 {
    height: auto;
    width: 100%;
    overflow-block: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20vh;
  }
  .mainIndex section .contenedor_palacio .palacio1 {
    display: none;
  }
  .mainIndex section .items {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    width: auto;
    margin: auto;
  }
  .mainIndex section .items .cuadrado1, .mainIndex section .items .cuadrado2, .mainIndex section .items .cuadrado3 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 20vh;
    width: auto;
    padding: 3vh;
    margin: 0 auto 3vh auto;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 12%;
    z-index: 100;
    position: relative;
    bottom: 5vh;
    border-bottom: 0.5vh solid rgba(255, 255, 255, 0.514);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainIndex section .items .cuadrado1 p, .mainIndex section .items .cuadrado2 p, .mainIndex section .items .cuadrado3 p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: justify;
  }
  .mainLinks__div iframe {
    width: 45vh;
    height: 30vh;
  }
  .mainServicios .cajas_fuero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainServicios .cajas_fuero .laboral {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .laboral .listaLaboral {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .laboral .botonLaboral {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainServicios .cajas_fuero .civil {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .civil .listaCivil {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .civil .botonCivil {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainServicios .cajas_fuero .penal {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .penal .listaPenal {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .penal .botonPenal {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainServicios .cajas_fuero .admin {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .admin .listaAdmin {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .admin .botonAdmin {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  footer p {
    font-size: 3vh;
    padding: 3vh 0;
  }
  #offcanvasExample {
    z-index: 6000;
  }
}

@media (min-width: 501px) and (max-width: 990px) {
  body .sombra {
    width: 100%;
  }
  body .sombra2 {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 500;
    margin: 0;
  }
  .navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 4vh;
    margin-top: 5vh;
    background-color: black;
    border: 1vh solid black;
    border-radius: 3%;
  }
  main {
    padding-top: 20vh;
  }
  .mainIndex {
    padding-top: 20vh;
  }
  .mainIndex section .contenedor_palacio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio2 {
    height: auto;
    width: 100%;
    overflow-block: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio1 {
    display: none;
  }
  .mainIndex section .items {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    width: auto;
    margin: auto;
  }
  .mainIndex section .items .cuadrado1, .mainIndex section .items .cuadrado2, .mainIndex section .items .cuadrado3 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 20vh;
    width: auto;
    padding: 3vh;
    margin: 0 auto 3vh auto;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 12%;
    z-index: 100;
    position: relative;
    bottom: 5vh;
    border-bottom: 0.5vh solid rgba(255, 255, 255, 0.514);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainIndex section .items .cuadrado1 p, .mainIndex section .items .cuadrado2 p, .mainIndex section .items .cuadrado3 p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: justify;
  }
  .mainLinks__div iframe {
    width: 60vh;
    height: 35vh;
  }
  .mainServicios .cajas_fuero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainServicios .cajas_fuero .laboral {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .laboral .listaLaboral {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .laboral .botonLaboral {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainServicios .cajas_fuero .civil {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .civil .listaCivil {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .civil .botonCivil {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainServicios .cajas_fuero .penal {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .penal .listaPenal {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .penal .botonPenal {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainServicios .cajas_fuero .admin {
    justify-items: center;
  }
  .mainServicios .cajas_fuero .admin .listaAdmin {
    background-color: rgba(70, 70, 70, 0.432);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainServicios .cajas_fuero .admin .botonAdmin {
    background-color: rgba(103, 245, 255, 0.514);
    width: 50vh;
    margin: 5vh 5vh 0 5vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  footer p {
    font-size: 3vh;
    padding: 3vh 0;
  }
  #offcanvasExample {
    z-index: 6000;
  }
}

@media (min-width: 991px) and (max-width: 1280px) {
  header {
    position: fixed;
    top: 0;
    z-index: 5000;
    margin: 0;
  }
  .navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 10vh;
    margin-top: 5vh;
    background-color: black;
    border: 1vh solid black;
    border-radius: 3%;
  }
  .mainIndex section .contenedor_palacio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio2 {
    height: auto;
    width: 100%;
    overflow-block: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio1 {
    display: none;
  }
  .mainIndex section .items {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
    width: auto;
  }
  .mainIndex section .items .cuadrado1, .mainIndex section .items .cuadrado2, .mainIndex section .items .cuadrado3 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 23vh;
    width: 35vh;
    padding: 1vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 12%;
    z-index: 100;
    position: relative;
    bottom: 5vh;
    border-bottom: 0.5vh solid rgba(255, 255, 255, 0.514);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainIndex section .items .cuadrado1 p, .mainIndex section .items .cuadrado2 p, .mainIndex section .items .cuadrado3 p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: justify;
  }
  footer p {
    font-size: 3vh;
    padding: 3vh 0;
  }
  #offcanvasExample {
    z-index: 6000;
  }
}

/* ESCRITORIO */
@media (min-width: 1281px) and (max-width: 5000px) {
  header {
    position: fixed;
    top: 0;
    z-index: 200;
    margin: 0 auto 0 auto;
  }
  .mainIndex section .contenedor_palacio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio1 {
    height: auto;
    width: 100%;
    overflow-block: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex section .contenedor_palacio .palacio2 {
    display: none;
  }
  .mainIndex section .items {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 11vh;
    width: auto;
    background-color: black;
  }
  .mainIndex section .items .cuadrado1, .mainIndex section .items .cuadrado2, .mainIndex section .items .cuadrado3 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 23vh;
    width: 50vh;
    padding: 1vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 12%;
    z-index: 100;
    position: relative;
    bottom: 20vh;
    border-bottom: 0.5vh solid rgba(255, 255, 255, 0.514);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainIndex section .items .cuadrado1 p, .mainIndex section .items .cuadrado2 p, .mainIndex section .items .cuadrado3 p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: justify;
  }
  .mainNosotros .mainNosotros__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: .3fr .1fr 1fr .5fr;
        grid-template-rows: .3fr .1fr 1fr .5fr;
        grid-template-areas: "titulo titulo titulo" "titulo1 texto titulo2" "foto1 texto foto2" "texto1 texto texto2";
    overflow: visible;
    text-align: justify;
    justify-items: center;
  }
  .mainNosotros .mainNosotros__section h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: titulo;
    text-align: center;
    text-decoration: underline;
    padding-top: 12vh;
  }
  .mainNosotros .mainNosotros__section .eduardo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: foto1;
    height: 40vh;
    width: auto;
    margin-bottom: 2vh;
    border: 1vh solid black;
  }
  .mainNosotros .mainNosotros__section .equipo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: texto;
    padding: 5vh 5vh;
    font-size: 2.5vh;
  }
  .mainNosotros .mainNosotros__section .gaston {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: foto2;
    height: 40vh;
    width: auto;
    margin-bottom: 2vh;
    border: 1vh solid black;
  }
  .mainNosotros .mainNosotros__section .eduardotex {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: texto1;
    padding: 0 13.6vh;
  }
  .mainNosotros .mainNosotros__section .gastontex {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: texto2;
    padding: 0 15vh;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "redes datos datos datos";
  }
  footer .datos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: datos;
  }
  footer .redesSociales {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: redes;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2vh;
  }
  footer .redesSociales ul li a img {
    -webkit-transition: height 2s, width 1.5s;
    transition: height 2s, width 1.5s;
  }
  footer .redesSociales ul li a img:hover {
    height: 8vh;
    width: auto;
  }
}
/*# sourceMappingURL=estilos.css.map */